{% extends 'core/base.html' %}
{% block title %}contact{% endblock title %}
{% block content %}
<div class="container">
    <h2 class="text-warning">CONTACT US</h2>
    <hr class="text-white">
<div class="row text-white">
    <div class="col-sm-9">
      <div class="row">
          <div class="col-sm-6">

        <form>
            <div class="mb-3 p-2">
              <label for="exampleInputEmail1" class="form-label">Your Name</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
        </form>

    </div>
    <div class="col-sm-6">

        <form>
            <div class="mb-3 p-2">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
        </form>

    </div>
    </div>


    <div class="row">
    <div class="col-sm-12">
        <form>
            <div class="mb-3 p-2">
              <label for="exampleInputEmail1" class="form-label">Your Subject</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
        </form>
    </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <form>
                <div class="mb-2 p-2">
                  <label for="exampleInputEmail1" class="form-label">Your Massage</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
            </form>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>

        </div>
        <!--font awosam-->
        <div class="row text-center mt-5">
            <div class="col-sm-12" style="color: chartreuse;">
                <i class="fab fa-facebook-f mx-3"></i>
                <i class="fab fa-instagram mx-3"></i>
                <i class="fab fa-twitter mx-3"></i>
                <i class="fas fa-phone-alt mx-3"></i>
            </div>
       
            
        </div>
</div>
<hr class="text-primary mt-4"> 


{% endblock content %}