<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>home</h1>
    {% for dt in data %}
    <ul>
        
        <li>{{dt.id}}</li>
        <li>{{dt.name}}</li>
        <li>{{dt.roll}}</li>
        <li>{{dt.city}}</li>
        <li>{{dt.marks}}</li>
        <li>{{dt.pass_date}}</li>
    </ul>
        {% endfor %}
   
</body>
</html>