{% extends 'core/base.html' %}
{% block title %}Services{% endblock title %}
{% block content %}
<div class="container">
<h1 class="text-light mt-2">services</h1>
<hr class="text-light">
<!--first row-->
<div class="row text-white text-center mb-5">
    <div class="col-sm-4">
        <i class="fas fa-code fa-2x mb-2 i-color" style="color: chartreuse;"></i>
        <h3>SEO</h3>  
        <P style="color: silver;">
          the size of that inherited font-size icons relative to that inherited font-size.
        </P>
    </div>
    <div class="col-sm-4">
        <i class="fas fa-palette fa-2x mb-2 i-color" style="color: chartreuse;"></i>
        <h3>Web Design</h3>
        <P style="color: silver;">
          the size of that inherited font-size icons relative to that inherited font-size.
        </P>
    </div>
    <div class="col-sm-4">
        <i class="fab fa-apple fa-2x mb-2 i-color" style="color: chartreuse;"></i>
        <h3>ios</h3>
        <P style="color: silver;">
          the size of that inherited font-size icons relative to that inherited font-size.
        </P>
    </div>
</div>

<!--sec row-->
<div class="row text-light text-center">
    <div class="col-sm-4">
        <i class="fas fa-database fa-2x mb-2 i-color" style="color: chartreuse;"></i>
        <h3>SEO</h3>
        <P style="color: silver;">
          the size of that inherited font-size icons relative to that inherited font-size.
        </P>

    </div>
    <div class="col-sm-4">
        <i class="fab fa-adversal fa-2x mb-2 i-color" style="color: chartreuse;"></i>
        <h3>SEO</h3>
        <P style="color: silver;">
          the size of that inherited font-size icons relative to that inherited font-size.
        </P>

    </div>
    <div class="col-sm-4">
        <i class="fas fa-search-dollar fa-2x mb-2 i-color" style="color: chartreuse;"></i>
        <h3>SEO</h3>
        <P style="color: silver;">
          the size of that inherited font-size icons relative to that inherited font-size.
        </P>

    </div>

  
</div>
<!--third row-->
<div class="row text-light text-center">
  <div class="col-sm-4">
      <i class="fas fa-database fa-2x mb-2 i-color" style="color: chartreuse;"></i>
      <h3>SEO</h3>
      <P style="color: silver;">
        the size of that inherited font-size icons relative to that inherited font-size.
      </P>

  </div>
  <div class="col-sm-4">
      <i class="fab fa-adversal fa-2x mb-2 i-color" style="color: chartreuse;"></i>
      <h3>SEO</h3>
      <P style="color: silver;">
        the size of that inherited font-size icons relative to that inherited font-size.
      </P>

  </div>
  <div class="col-sm-4">
      <i class="fas fa-search-dollar fa-2x mb-2 i-color" style="color: chartreuse;"></i>
      <h3>SEO</h3>
      <P style="color: silver;">
        the size of that inherited font-size icons relative to that inherited font-size.
      </P>

  </div>


</div>


</div>

{% endblock content %}

